<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<property name="LOGS_HOME" value="ApplicationLogs" />
	<property name="LOG_FILE" value="AppLogInfo.log" />
	<property name="EROR_FILE" value="AppLogError.log" />
	<property name="SERVICE_NAME" value="APP" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>

			<pattern>${SERVICE_NAME} - [%-5level] %d{HH:mm:ss.SSS} [%thread] %logger
				- %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>


	<appender name="FILE-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/logs/${LOG_FILE}.log</file>
		<append>true</append>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOGS_HOME}/logs/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.gz
			</FileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>1</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>

			<pattern>${SERVICE_NAME} - [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}
				[%thread] %logger - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/logs/${EROR_FILE}.log</file>
		<append>true</append>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOGS_HOME}/logs/${EROR_FILE}.%d{yyyy-MM-dd}.%i.log.gz
			</FileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>1</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>

			<pattern>${SERVICE_NAME} - [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}
				[%thread] %logger - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-APPENDER" />
	</root>
	<!--<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ERROR" />
	</root>-->
	<logger name="com.info.springboot.crud.controller" level="INFO"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-APPENDER" />
	</logger>


</configuration>